<!DOCTYPE html>
<html lang="en">


  <head>
    <title>Adarsh Rent</title></title>
    <style>  
      body {
        font-family: Roboto;
      }
      
      h1{
        text-align: center;
      }

      #banner{
        width: 100%;
        height: 360px;
        object-fit: cover;
      }

      h2{
        text-align: center;
      }

      .bodytext{
        color: rgb(80,80,80)
      }

      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }

      
    </style>
  </head>

  <body>
  <div id="container">
    <h1>Adarsh Rent</h1>
     
    <img id="banner" src="https://jovian-yt-fcc.dilshadhussain.repl.co/static/banner1.jpg">
    <h1>About Jovian</h1>
     <p class="bodytext">
       So perhaps, you've generated some fancy text, and you're content that you can now copy and paste your fancy text in the comments section of funny cat videos, but perhaps you're wondering how it's even possible to change the font of your text? Is it some sort of hack? Are you copying and pasting an actual font?
       Well, the answer is actually no - rather than generating fancy fonts, this converter creates fancy symbols. The explanation starts with unicode; an industry standard which creates the specification for thousands of different symbols and characters. All the characters that you see on your electronic devices, and printed in books, are likely specified by the unicode standard.
     </p>

    <h2>Open Position</h2>
    <p class="bodytext">TODO - Show the job here</p>
    
    <div style="text-align:center;">
      <button>Contact Us</button>
      <p>Copyright 2023, Adarsh Rent</p>
    </div>  
    
  </div>
  </body>
</html>